h1{
    color: red;

}

.item_price{
    background-color: grey;
    color: paleturquoise;
    margin-top: 100px;
}
.description{
    font-size: 50px;
}

.n1{
    font-size: 24px;
    text-shadow: green 2px 5px;


}